body {
    background-color: #fafafa;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #3897f0;
}

a:hover {
    color: #003569;
}